.comp-timeline {
    display: grid;
    position: relative;
    width: 100%;
    grid-column-start: timeline;
}
.comp-overshoot-timeline {
    position: relative;
    width: 100%;
    height: 100%;
}

.comp-timeline-bar {
    position: absolute;
    top: 25%;
    bottom: 25%;
}

.comp-overshoot-bar {
    position: absolute;
    left: 0; right: 0;
    top: 25%;
    bottom: 25%;
}
.comp-timeline {
    display: grid;
    position: relative;
    width: 100%;
    grid-column-start: timeline;
}
.comp-timeline-tick {
    color: var(--outline);
    border-left: 1px solid var(--overlay);
    width: 100%;
    text-align: right;
}.comp-timeline-tick:last-child {
    border-right: 1px solid var(--overlay);
}
.comp-timeline-tick label {
    padding-right: .5rem;
}
.comp-timeline-tick:last-child {
    border-right: 0;
}

.comp-overshoot-timeline {
    position: relative;
    width: 100%;
    height: 100%;
}