@import url("https://fonts.googleapis.com/css?family=Noto+Sans:ital,wght@0,400,700;0,400,700");
@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono:ital,wght@0,400,700;0,400,700");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url('https://fonts.googleapis.com/css2?family=Noto+Colr+Emoji+Glyf');

:root {
    /* theme colours */
    --primary: #F2545B;
    --secondary: #02A9EA;
    --tertiary: #6CCC74;
    --quaternary: #EC9703;
    --quinary: #F1D302;
    --outline: #66666E;
    /* background colours */
    --base: #FFFFFF;
    --mantle: #F2F2F2;
    --crust: #E4E4E4;
    --overlay: #D6D6D6;
    background-color: var(--base);
    /* text colour */
    --text: #161616;
    --hltext: #FFFFFF;
    /* background-specific text colour */
    --primary-text: var(--hltext);
    --secondary-text: var(--hltext);
    --tertiary-text: var(--text);
    --quaternary-text: var(--hltext);
    --quinary-text: var(--text);
    --outline-text: var(--hltext);
    --base-text: var(--text);
    --mantle-text: var(--text);
    --crust-text: var(--text);
    --overlay-text: var(--hltext);
    color: var(--base-text);
    /* fonts */
    --body: Noto Sans;
    --heading: Noto Sans;
    --mono: JetBrains Mono;
    --script: Indie Flower;
    font-family: var(--body), Noto Color Emoji;
    font-size: 10pt;
}

body {
    margin: 0;
    padding: 0;
}

button {
    font-family: var(--body);
    background-color: var(--mantle);
    border: none;
    padding: 1em;
    margin: .5rem;
    display: grid;
    align-items: center;
    border-radius: .5rem;
}
button.horizontal {
    grid-template-columns: [icon] 2rem [label] max-content;
    grid-gap: 0 .5rem;
    align-items: center;
    justify-content: start;
}
button.horizontal img {
    grid-row-start: icon;
}
button.horizontal label {
    grid-row-start: label;
}
button.vertical {
    grid-template-rows: [icon] 4rem [label] min-content;
    grid-gap: .5rem 0;
    align-items: center;
    justify-items: center;
}
button.vertical img {
    grid-column-start: icon;
}
button.vertical label {
    grid-column-start: label;
}

button:disabled * {
    opacity: 50%;
}
button:enabled:hover {
    background-color: var(--base);
}

select, 
option,
input {
    font-family: var(--body);
    border: 1px solid var(--overlay);
    outline: none;
    padding: .25rem 1rem;
    padding-right: 1rem;
    background-color: var(--base);
    border-radius: .25rem;
}
select:hover,
select:focus {
    background-color: var(--mantle);
}

option img {
    display: inline;
    height: 1rem;
    padding: 0 .5rem;
}