@import url("./fonts/Nunito.css");
@import url("./fonts/NotoSans.css");
@import url("./fonts/JetBrainsMono.css");
@import url('./fonts/NotoColorEmoji.css');

:root {
    /* colors */
    --red: #F2545B;
    --purple: #C3BEF7;
    --blue: #02A9EA;
    --green: #6CCC74;
    --yellow: #F1D302;
    --orange: #EC9703;
    /* shades */
    --base: #FFFFFF;
    --mantle: #F2F2F2;
    --crust: #E4E4E4;
    --overlay: #D6D6D6;
    --outline: #66666E;
    /* text colors */
    --text: #242427;
    --hltext: #FFFFFF;
    --text-on-red: var(--hltext);
    --text-on-purple: var(--text);
    --text-on-blue: var(--hltext);
    --text-on-green: var(--hltext);
    --text-on-orange: var(--hltext);
    --text-on-yellow: var(--text);
    --text-on-base: var(--text);
    --text-on-mantle: var(--text);
    --text-on-crust: var(--text);
    --text-on-overlay: var(--text);
    --text-on-outline: var(--hltext);
    /* fonts */
    --branded: Nunito;
    --emoji: Noto Color Emoji;
    --body: Noto Sans, var(--emoji);
    --heading: Noto Sans, var(--emoji);
    --mono: JetBrains Mono, var(--emoji);
    

    /* defaults */
    color: var(--text);
    background-color: var(--base);
    font-family: var(--body);
    font-size: 10pt;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* shades */
        --base: #75757d;
        --mantle: #66666E;
        --crust: #57575f;
        --overlay: #484850;
        --outline: #ACACB0;
        /*  text colors */
        --text: #FFFFFF;
        --hltext: #242427;
        --text-on-red: var(--text);
        --text-on-purple: var(--hltext);
        --text-on-blue: var(--text);
        --text-on-green: var(--text);
        --text-on-orange: var(--text);
        --text-on-yellow: var(--hltext);
        --text-on-base: var(--text);
        --text-on-mantle: var(--text);
        --text-on-crust: var(--text);
        --text-on-overlay: var(--text);
        --text-on-outline: var(--hltext);

        /* defaults */
        color: var(--text);
        background-color: var(--base);
    }   
}

body {
    margin: 0;
    padding: 0;
}

* {
    transition: border-color .2s, box-shadow .2s;
}

select, 
option,
input,
textarea {
    font-family: var(--body);
    border: 1px solid var(--overlay);
    outline: none;
    padding: .25rem 1rem;
    padding-right: 1rem;
    background-color: var(--base);
    border-radius: .25rem;
}
select:disabled, 
option:disabled,
input:disabled,
textarea:disabled {
    opacity: 50%;
}
input:enabled:active, 
input:enabled:focus {
    border-color: var(--blue);
}
input:hover, 
input:active, 
input:focus {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
}

select {
    transition: border-color .2s, box-shadow .2s;
}
select:enabled:active, 
select:enabled:focus {
    border-color: var(--blue);
}
select:hover, 
select:active, 
select:focus {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
}

option img {
    display: inline;
    height: 1rem;
    padding: 0 .5rem;
}

button {
    outline: none;
    border: none;
    color: var(--text);
    font-family: var(--body);
}

svg {
    aspect-ratio: 1/1;
}

pre, code {
    font-family: var(--mono);
}