@import url("https://fonts.googleapis.com/css?family=Noto+Sans:ital,wght@0,400,700;0,400,700");
@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono:ital,wght@0,400,700;0,400,700");
@import url('https://fonts.googleapis.com/css2?family=Noto+Colr+Emoji+Glyf');

:root {
    /* colors */
    --red: #F2545B;
    --purple: #C3BEF7;
    --blue: #02A9EA;
    --green: #6CCC74;
    --yellow: #F1D302;
    --orange: #EC9703;
    /* shades */
    --base: #FFFFFF;
    --mantle: #F2F2F2;
    --crust: #E4E4E4;
    --overlay: #D6D6D6;
    --outline: #66666E;
    /* text colors */
    --text: #1A1A1C;
    --hltext: #FFFFFF;
    --text-on-red: var(--hltext);
    --text-on-purple: var(--text);
    --text-on-blue: var(--hltext);
    --text-on-green: var(--hltext);
    --text-on-orange: var(--hltext);
    --text-on-yellow: var(--text);
    --text-on-base: var(--text);
    --text-on-mantle: var(--text);
    --text-on-crust: var(--text);
    --text-on-overlay: var(--hltext);
    --text-on-outline: var(--hltext);
    /* fonts */
    --body: Noto Sans;
    --heading: Noto Sans;
    --mono: JetBrains Mono;
    --script: Indie Flower;

    /* defaults */
    color: var(--text);
    background-color: var(--base);
    font-family: var(--body), Noto Color Emoji;
    font-size: 10pt;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* shades */
        --base: #75757d;
        --mantle: #66666E;
        --crust: #57575f;
        --overlay: #484850;
        --outline: #ACACB0;
        /*  text colors */
        --text: #FFFFFF;
        --hltext: #161616;
        --text-on-red: var(--text);
        --text-on-purple: var(--hltext);
        --text-on-blue: var(--text);
        --text-on-green: var(--text);
        --text-on-orange: var(--text);
        --text-on-yellow: var(--hltext);
        --text-on-base: var(--text);
        --text-on-mantle: var(--text);
        --text-on-crust: var(--text);
        --text-on-overlay: var(--text);
        --text-on-outline: var(--text);
    }   
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: var(--body);
}

select, 
option,
input,
textarea {
    font-family: var(--body);
    border: 1px solid var(--overlay);
    outline: none;
    padding: .25rem 1rem;
    padding-right: 1rem;
    background-color: var(--base);
    border-radius: .25rem;
}
input{
    transition: border-color .2s, box-shadow .2s;
}
input:active, 
input:focus {
    border-color: var(--blue);
}
input:hover, 
input:active, 
input:focus {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
}

select {
    transition: border-color .2s, box-shadow .2s;
}
select:active, 
select:focus {
    border-color: var(--blue);
}
select:hover, 
select:active, 
select:focus {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
}

option img {
    display: inline;
    height: 1rem;
    padding: 0 .5rem;
}

button {
    outline: none;
    border: none;
}